<style >
html {
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100%;
}
#source {
  display: none;
}

.header {
  color: #ded7be;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0px;
  display: flex;
  font-size: 24px;
  padding: 3px;
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
}
.header .header-top {
  display: flex;
  width: -webkit-fill-available;
}
.header .header-under {
  display: flex;
  width: -webkit-fill-available;
}
.header .header-top .mypage{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-top .setting{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-under .all-kd {
  width: -webkit-fill-available;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.header .header-under .all-kd .kill-num,.header .header-under .all-kd .death-num{
  padding-left: 0.5rem;
}
.header .header-under .all-kd-percent {
  width: 100px;
  align-items: center;
  justify-content: center;
}
.header .header-top .areaname {
  width: calc(100% - 140px);
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  align-items: center;
}
.header .header-top .clockicon {
}
.header .header-top .time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  width: 60px;
  font-size: 20px;
}
.header .header-top .time .time-min {
  width: 25px;

  text-align: right;
}
.header .header-top .time .time-coron {
  width: 10px;

  text-align: center;
}
.header .header-top .time .time-sec {
  width: 25px;

  text-align: left;
}
.header .header-under .header-data {
  display: flex;
  font-size: 18px;
  width: -webkit-fill-available;
}
.header .header-under .header-kd {
  display: flex;
}
.header .header-under .header-data .what-header-data {
  padding-left: 3px;
  padding-right: 3px;
  width: 100px;
}
.header .header-line {
  width: -webkit-fill-available;
  margin:  3px;
}
[class^="button-"], [class*=" button-"] {
  display: none;
}
.set-data {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  display: none;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: rgba(0,0,0,0.3);
  flex-direction: column;
  color: #ded7be;
  user-select:none;
}
.set-space {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.set-data .set-header{
  padding-bottom: 1rem;
  font-size: 48px;
  display: flex;
  padding-right: 5px;
}
.set-data .set-header .set-header-text{
  width: calc(100% - 50px);
  font-size: 26px;
  padding-top: 10px;
  font-family: 'Bebas Neue', cursive;
}
.set-data .switch:before, .set-data .switch:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
}
.set-data .switch:before {
  width: 2em;
  height: 1em;
  border: 2px solid #C4C9FF;
  border-radius: 32px;
  background: #999;
}
.set-data .switch:after {
  position: relative;
  width: 1em;
  height: 1em;
  background:#C4C9FF;
  border-radius: 50%;
  left: -2.2em;
}
.set-data input.checkbox {
  display: none;
}
.set-data input:checked ~ .switch:before {
  background:#00b715;
  border-color:#84ff92;
}
.set-data input:checked ~ .switch:after {
  background:#84ff92;
  left: -1.1em;
}
.explain {
  margin-top: 0.2rem;
  font-size: 12px;
}
.number {
  width: 5rem;
  margin-left: 1rem;
  background-color: transparent;
  color: #ded7be;
}
.version {
  width: -webkit-fill-available;
  text-align: right;
  display: inline-block;
}
</style >
